body {
  background-color: $bg-color;
}

.p-2 {
  background-color: #14144b;
  border: 20px solid white;
  height: 350px;
  margin-top: 200px;
  width: 700px;
  color: white;
  position: relative;

}

#projects_text {
  text-align: center;
  line-height: 150px;
}

.circle1{
  position: relative;
  margin-left: -120px;
  margin-top: -120px;
  height:200px;
  width:200px;
  border-radius:100px;
  border:3px solid white;
  background:grey;

}

.circle2{
  position: relative;
  height:200px;
  width:200px;
  margin-top: -200px;
  margin-left: 225px;
  border-radius:100px;
  border:3px solid white;
  background:grey;

}

.circle3{
  position: relative;
  height:200px;
  width:200px;
  margin-left: 560px;
  margin-top: -200px;
  border-radius:100px;
  border:3px solid white;
  background:grey;

}

.circle4{
  position: relative;
  height:200px;
  width:200px;
  margin-left: -120px;
  margin-top: -25px;
  border-radius:100px;
  border:3px solid white;
  background:grey;

}

.circle5{
  position: relative;
  height:200px;
  width:200px;
  margin-left: 225px;
  margin-top: -200px;
  border-radius:100px;
  border:3px solid white;
  background:grey;

}

.circle6{
  position: relative;
  height:200px;
  width:200px;
  margin-left: 560px;
  margin-top: -200px;
  border-radius:100px;
  border:3px solid white;
  background:grey;

}
