body {
  background-color: $bg-color;
}

.container {
  margin-top: 150px;
  border: 20px solid white;
  min-height: 400px;
  position: relative;
  max-width: 700px;
}
#projects_text {
  text-align: center;
  line-height: 150px;
}
.box1 {
  margin-top: -115px;
  position: absolute;
  left: -170px;
  right: -170px;
}
.box2 {
  margin-top: 260px;
  margin-bottom: -100px;
  position: absolute;
  left: -170px;
  right: -170px;
}
@media (max-width: 768px) {
  .box1 {
    position: relative;
    left: 0;
    right: 0;
  }
  .box2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: -130px;
    position: relative;
    left: 0;
    right: 0;
  }
 .projects__title {
   display: none;
 }

}

.projects__title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  font-size: 4rem;
  color: white;
}
.box {
  margin: auto;
  background: grey;
  border: 2px solid white;
  padding: 25px;
  border-radius: 50%;
  height: 200px;
  max-width: 200px;
}
.row {
}
